.mat-mdc-raised-button {
  font-family: monospace;
  font-size: 3.6rem;
}

.flex-container {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-cell {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0.5rem;
  box-sizing: border-box;
}

/* bad practice but height is now forced to 48px with no obvious way to override it */
.mat-mdc-button-base {
  height: max(48px, 100%);
}

/* Minimum aspect ratio */
@media only screen and (min-aspect-ratio: 4/3) {
  .flex-cell {
    flex: 0 0 25%;
  }
  .mat-raised-button {
    font-size: 3.6em;
  }
}

/* Minimum aspect ratio */
@media only screen and (min-aspect-ratio: 4/3) and (max-height: 400px){
  .flex-cell {
    flex: 0 0 25%;
  }
  .mat-raised-button {
    font-size: 2.5em;
  }
}

.flex-cell:before {
  content: '';
  display: table;
  padding-top: 100%;
}

.flex-item {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
