.choices {
  font-size: 4rem;
  text-align: center;
  font-family: monospace;
}

.answers {
  display: flex;
  width: 50rem;
  margin: auto;
}

button {
  font-size: 4rem;
  width: 12rem;
  height: 8rem;
  margin: auto;
}
