.choices {
  font-size: 4rem;
  text-align: center;
  font-family: monospace;
}

.answers {
  display: flex 0 0 auto;
  margin: auto;
  max-width: 28rem;
}

button {
  font-size: 2rem;
  height: 8rem;
  margin: 1rem;
  width: 8rem;
}
