.choices {
  font-size: 4rem;
  text-align: center;
  font-family: monospace;
}

.answers {
  display: flex;
  width: 50rem;
}

button {
  font-size: 4rem;
  width: 12rem;  /* Or whatever */
  height: 8rem; /* Or whatever */
  margin: auto;  /* Magic! */
}
