.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}

/* Item sizing */
.cardListItem {
  flex: 0 1 calc(50%);
}

/* vertically centre messages along side question */
/* .cardList > * {


  display: flex;
  justify-content: center;
  flex-direction: column;
} */
