.question {
  font-size: 4rem;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-family: monospace;
}

input {
  font-size: 52px;
  font-family: monospace;
  width: 8rem;
}

button {
  margin-left: 10px;
  font-size: 52px;
  height: 61px;
}

/* bad practice but height is now forced to 48px with no obvious way to override it */
.mat-mdc-button-base {
  height: max(48px, 100%);
}