.mat-mdc-radio-group {
  display: flex;
  flex-direction: column;
}

div.group {
  margin-top: 1.5rem;
}

.mat-mdc-radio-button {
  margin-top: 0.4rem;
}

.flex-container {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
}
