<mat-card>
  <form [formGroup]="answerForm">
    <p class="question">What is {{ question.x }} × {{ question.y }}?</p>
    <mat-form-field>
      <mat-label>Your Answer</mat-label>
      <input
        #answer
        matInput
        type="number"
        inputmode="numeric"
        name="answer"
        required
        formControlName="answer"
        autocomplete="off"
        [errorStateMatcher] = "errorMatcher"
        appAutofocus
      />
      <mat-error *ngIf="answer.invalid"
        >Please enter a number between 1 and 144</mat-error
      >
      <mat-error *ngIf="answer.required"> Please enter your answer</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="answerQuestion(answer.value)"
    >
      Submit
    </button>
  </form>
</mat-card>
