.question {
  font-size: 4rem;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-family: monospace;
}
.mat-form-field {
  width: 100%;

}
.mat-input-element {
  font-size: 52px;
  font-family: monospace;
}
