@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@include mat.all-component-typographies();
@include mat.core();

$app-primary: mat.define-palette(mat.$deep-purple-palette);
$app-accent:  mat.define-palette(mat.$amber-palette, A200, A100, A400);

$app-theme: mat.define-light-theme($app-primary, $app-accent);

@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);
}

// Include the mixin
@include mix-app-theme($app-theme);

h1 {
  font-size: 1.5rem;
  margin-block-start: 0.4rem;
  margin-block-end: 0.4rem;
}

h2 {
  font-size: 1.2rem;
  margin-block-start: 0.4rem;
  margin-block-end: 0.4rem;
}




